.invalid {
  color: red;
}
.label {
  font-size: 18px;
}
.custom-input,
.custom-select {
  border-radius: 5px !important;
  padding: 12px 15px 12px 15px !important;
  width: 100%;
  box-sizing: border-box;
  border: none !important;
  border: 1px solid #0d0d0e !important;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 400;
}
